<agm-map
  [latitude]="latitude"
  [longitude]="longitude"
  [minZoom]="minZoom"
  [zoom]="zoom">

  <agm-marker
    *ngFor="let incident of incidents | async"
    (markerClick)="clickedMarker(incident)"
    [latitude]="incident.geoPoint.latitude"
    [longitude]="incident.geoPoint.longitude"
    [label]="'I'"
    [markerDraggable]="false"
    (dragEnd)="markerDragEnd(incident, $event)">
      <agm-info-window>
        <strong>{{incident.title}}</strong>
        <p>{{incident.description}}</p>
        <div>
          <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip *ngFor="let label of incident.labels" [color]="primary">
              {{label}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </agm-info-window>
  </agm-marker>
</agm-map>
