<div class="main__body">
  <div class="container">

    <div [class.mat-elevation-z2]="true" class='login-page'>
      <div class="row">
        <div class="card col-md-4 col-md-offset-4">
          <div class="login__card">
            <div class="card-block">
              <form class="login-form" name="userform" method="post" #formCtrl="ngForm">
                <h3 align="center">Login Form</h3>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <mat-form-field class="form-input">
                    <input matInput type="email" name="email" id="email" placeholder="Email" [(ngModel)]="user.email" required>
                  </mat-form-field>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <mat-form-field class="form-input">
                    <input matInput type="password" name="password" id="password" placeholder="Password" [(ngModel)]="user.password" required>
                  </mat-form-field>
                </div>

                <div class="form-group">
                  <button
                    mat-button
                    type='button'
                    color="primary"
                    class="form-button"
                    (click)="signInWithEmail()"
                    [disabled]="formCtrl.form.invalid"
                  >
                    Login with Email
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    color="primary"
                    class="form-button"
                    (click)="signInWithFacebook()"
                  >
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    Login with Facebook
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    color="warn"
                    class="form-button"
                    (click)="signInWithGoogle()"
                  >
                    <i class="fa fa-google" aria-hidden="true"></i>
                    Login with Google
                  </button>
                </div>
              </form>

            </div>
          </div>
        </div>

      </div>
    </div> <!-- end card -->

  </div>  <!-- end container -->
</div>
